<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="catalog">
			<group id="seo">
				<field id="rewrite_maps_generation_enabled" showInDefault="1" showInStore="1" showInWebsite="1"
                       sortOrder="500" translate="label" type="select">
					<label>Enable Rewrite Maps Generation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
